#confirm_button {
	text-align:center;
	margin: auto;
}
#back_button {
	text-align:center;
	margin: auto;
}

.button1 {
	border: none;
	background-color: Transparent;
	outline: none;
	border: none;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: #212529;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 14px;
	cursor: pointer;
	float:right
}
.button2 {
	border: none;
	background-color: Transparent;
	outline: none;
	border: none;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: #212529;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 14px;
	cursor: pointer;
	float:right
}

#balance {
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: #212529;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 14px;
	float:right
}