body {
    font-family: helvetica;
}

ul {
    font-family: monospace;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f1f1f1;
}

/* Style the submit button */
form.example button {
float: left;
width: 20%;
padding: 10px;
background: #008080;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none; /* Prevent double borders */
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

/* Clear floats */
form.example::after {
content: "";
clear: both;
display: table;
}